{% load mathfilters %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
    <div class="section-pages">

        {% if paginator.num_pages > 8 %}

                {% for page_number in paginator.page_range %}
                    {% if page_obj.number == 1 %}
                        <a class="first" href="?page={{ page_number }}" > {{ page_number }} </a>
                    {% elif page_number == 1 or page_number == paginator.num_pages %}
                        <a href="?page={{ page_number }}" > {{ page_number }} </a>
                    {% elif -3 < page_obj.number|sub:page_number  and  page_obj.number|sub:page_number < 3 %}
                        <a href="?page={{ page_number }}" > {{ page_number }} </a>
                    {% elif -3 == page_obj.number|sub:page_number  or  page_obj.number|sub:page_number == 3 %}
                        <span>
                            ...
                        </span>
                    {% else %}

                    {% endif %}

                {% endfor %}


                {% if page_obj.has_next %}
                    <a class="next" href="?page={{ page_obj.next_page_number }}"> > </a>
                {% endif %}


        {% else %}

                {% for page_number in paginator.page_range %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {%comment%}
                    <!--{% if page_obj.number == page_number %}-->
                        <!--<span class="current"><b>-->
                            <!--{{ page_obj.number }}-->
                        <!--</b></span>-->
                    <!--{% else %}-->

                    <!--{% endif %}-->
                    {%endcomment%}

                {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="next" href="?page={{ page_obj.next_page_number }}"> > </a>
                    {% endif %}

        {% endif %}

    </div>
{% endif %}
