#page-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 900px;
  padding: 0 20px;
}

#header {
  height: 150px;
}

h1.Mega_title{
  font-size:25px;
}

#header .logo-link {
  float: left;
  width: 150px;
  margin-top: 10px;
}

div.section-sidebar-lists a.product_title{
  color:darkgreen;
  font-weight: bold;
}

#header .logo-link img {
  /*width: 100%;*/
}

#header .frontier {
  position: relative;
  height: 40px;
  float: right;
  width: 400px;
  margin: 7px 10px 0 0;
}

#header .search {
  float: left;
  width: 220px;
  margin: 0 45px 0 0;
  padding: 4px 5px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  background-image: url(/static/oscar/img/frontend/icon-search.png);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #000;
}

#header .icon {
  box-sizing: border-box;
  float: left;
  display: inline-block;
  height: 30px;
  margin: 0 0 0 5px;
  padding: 3px;
}

#header .icon:hover {
  opacity: 0.6;
}

#header #cart-count {
  position: absolute;
  margin: 0 0 0 -18px;
  font-size: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #fff;
}

#header .link {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  float: right;
  margin: 0 0 0 20px;
  padding: 10px 0 0 23px;
  text-indent: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left center;
}

#header .link:hover {
  opacity: 0.6;
  text-decoration: underline;
}

#header .link img {
  float: left;
  margin: -4px 0 0 0;
}

#header #cart-area {
  float: right;
  margin: 10px 0 0 0;
  padding: 5px;
  border: 1px solid #000;
  display:none;
}

#header #cart-area .close {
  float: right;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-image: url(/static/oscar/img/frontend/icon-close.png);
  background-repeat: no-repeat;
}

#header #cart-area .close:hover {
  opacity: 0.4;
}

#header #cart-area .items { 
  margin: 5px 10px 0 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

#header #cart-area .total {
  margin: 5px 10px 5px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

#messages #msg-area {
  margin: 10px 0 0 0;
  padding: 5px;
  border: 1px solid #000;
  float: right;
  width:200px;
}

#messages #msg-area .close {
  float: right;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-image: url(/static/oscar/img/frontend/icon-close.png);
  background-repeat: no-repeat;
}

#messages #msg-area .close:hover {
  opacity: 0.4;
}

#messages #msg-area .alert {
  margin: 5px 10px 0 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

#header .menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 25px 0 0 0;
}

#header .menu ul {
  display: table;
  width: 100%;
}
#header .menu ul li {
  display: table-cell;
  text-align: center;
}

#header .menu ul li:nth-child(1) {
  text-align: left;
}

#header .menu ul li:last-child {
  text-align: right;
}

#header .menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px ;
  color: #333;
}

#header .menu a:hover {
  text-decoration: underline;
}

#footer {
  overflow: hidden;
  padding: 0 0 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

#footer a {
  color: #333;
  text-decoration: none;
}

#footer .copyrights {
  margin-top: 20px;
}
