html, body, div, span, h1, h2, h3, h4, h5, h6, p, strong, b, i, ol, ul, li, fieldset, form,label, table, caption, tr, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display: block;
  height: 1px;
  border: 0;   
  border-top: 1px solid #cccccc;
  margin: 1em auto;
  padding: 0;
}

input, select {
  vertical-align:middle;
}

.clear {
  clear: both;
}

.clear-right {
  clear: right;
}