.section-form-enquiry {
  margin: 10px 0 40px 0;
}

.section-form-enquiry input {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 31%;
  margin: 15px 2% 0 0;
  padding: 5px;
  border: 1px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.section-form-enquiry textarea {
  box-sizing: border-box;
  width: 97%;
  margin: 15px 0 0 0;
  min-height: 80px;
  padding: 5px;
  border: 1px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.section-form-enquiry button {
  width: 80px;
  margin: 15px 0 0 0;
  padding: 5px;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.section-artview {
  position: relative;
  height: 685px;
  text-align: center;
  background-size: cover;
}

.section-artview .control {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}
.section-artview .control span {
  cursor: pointer;
}

.section-artview .control span:hover {
  opacity: 0.6;
}

.section-artview .area-title {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  text-align: left;
  
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.section-artview .area-title .name {
  margin: 5px 0 12px 0;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.section-artview .area-title .cat{
  color: #9a9a9a;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.section-artview-links {
  margin: 20px auto 30px auto;
}

.section-artview-links a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.section-artview-links a:hover {
  text-decoration: underline;
}

.section-sidebar-lists {
  float: left;
  width: 250px;
}

.section-sidebar-lists a:hover {
  text-decoration: underline;
}

.section-sidebar-lists ul li {
  list-style: none;
}

.section-sidebar-lists ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12.5px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.section-sidebar-lists ul li ul {
  margin: 5px 0 0 17px;
}

.section-sidebar-lists ul li ul li {
  list-style: none;
}

.section-sidebar-lists ul li ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.section-content-wide .column {
  box-sizing: border-box;
  float: left;
  width: 30.3%;
  margin: 0 1.5% 60px 1.5%;
}

.section-content-wide .holder {
  width: 103%;
  margin: 20px -1.4%;
}

.section-content-wide .column img {
  width: 100%;
}

.section-content-wide .column .caption {
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.section-content-wide .column .date {
font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px ;
  text-transform: uppercase;
}

.section-content-wide .column .info {
font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 17px;
}

.section-content-wide a.read-more {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.section-content-wide a:hover {
  text-decoration: underline;
}

.section-content {
  float: right;
  width: calc(100% - 250px);
}

.section-product-list {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #222;
}

.section-product-list .header {
  display: table;
  width: 100%;
}

.section-product-list .header div {
  display: table-cell;
}

.section-product-list .hProduct { width: 44%; }
.section-product-list .hPrice { width: 16%; }
.section-product-list .hQty { width: 16%; }
.section-product-list .hSubtotal { width: 24%; }

.section-product-list .product {
  display: table;
  width: 100%;
  margin: 20px 0;
}

.section-product-list .product div {
  display: table-cell;
  vertical-align: top;
}

.section-product-list .product .img { width: 44%; }
.section-product-list .product .price { width: 16%; }
.section-product-list .product .qty { width: 16%; }
.section-product-list .product .subtotal { width: 15%; }
.section-product-list .product .remove { width: 9%; }

.section-product-list .product .img a {
  float: left;
  margin-right: 15px;
}

.section-product-list .product .img p b {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  color: #000;
}

.section-product-list .product .qty select {
  margin: -2px 0 0 0;
  font: normal 15px Arial;
  color: #333;
}

.section-product-list .product .remove a {
  float: right;
  margin-right: 10px;
}

.section-product-list .product .remove a:hover {
  opacity: 0.6;
}

.section-monetary {
  min-width: 760px;
}

.section-monetary .aside {
  float: right;
  width: 280px;
}

.section-monetary .aside a {
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.section-monetary .counts {
  float: right;
  box-sizing: border-box;
  width: 280px;
  padding: 15px;
  text-transform: uppercase;
  background: #f0f0f0;
}

.section-monetary .counts  .sub-n-tax {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 21px;
  font-size: 15px;
}

.section-monetary .counts .total {
  margin: 18px 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.section-monetary a {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #000;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.section-monetary a:hover {
  opacity: 0.6;
  text-decoration: none !important;
}

.section-title {
  margin: 0;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.section-alphabet {
  display: table;
  width: 100%;
  margin: 20px 0 -20px 0;
}

.section-alphabet a {
  display: table-cell;
  width: 0.5%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.section-alphabet a:hover {
  text-decoration: underline;
}

.section-artist-info {
  margin: 20px 0 0 0;
}

.section-artist-info .title {
  margin: 10px 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  color: #333;
}

.section-artist-info p {
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-align: justify;
}

.section-artist-info img {
  float: left;
  margin: 0 20px 5px 0;
  width: 160px;
  height: 160px;
}

.section-tale {
  margin: 25px 0 0 0;
}

.section-tale .cell:nth-child(3n) .inner {
  float: right;
}

.section-tale .cell:nth-child(3n-1) .inner {
  margin: 0 auto;
}

.section-tale .cell {
  float: left;
  width: 33.3%;
  margin: 0 0 40px 0;
}

.section-tale .cell .inner {
  width: 90%;
}

.section-tale .title {
  margin: 0 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  color: #333;
}

.section-tale img {
  width: 100%;
}

.section-tale .caption {
  height: 30px;
  margin: 10px 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  color: #333;
}

.section-tale .descr {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 19px;
  font-size: 14px;
}

.section-tale .price {
  margin: 12px 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.section-tale .btn {
  display: inline-block;
  margin: 15px 3px 0 0;
  padding: 4px 5px;
  border: 1px solid #000;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-tale .btn:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none !important;
}

.section-short-description {
  margin: 40px 0 0 0;
}

.section-short-description .title {
  margin: 15px 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #333;
}

.section-tale .dates{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #333;
}

.section-short-description .dates {
  margin: 15px 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #333;
}

.section-short-description .info {
  margin: 5px 0 0 0;
}

.section-short-description .info p {
  margin: 0 0 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 17px;
  font-size: 15px;
  text-align: justify;
}

.section-short-description a {
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  float: right;
}

.section-short-description .img {
  height: 210px;
}

.section-short-description .photo {
  float: left;
  width: 22%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-short-description .painting {
  float: left;
  width: 78%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-form-titles {
  float: left;
  width: 45%;
  margin-top: 5px;
}

.section-form-titles p {
  margin-bottom: 10px;
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.section-form-titles p b {
  font-weight: 600;
}

.section-form-fields {
  float: right;
  width: 45%;
  margin-top: 5px;
}

.section-form-fields input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 7px 10px;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 1px #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.section-form-fields input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 7px 10px;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 1px #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.section-form-fields input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 7px 10px;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 1px #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.section-form-fields input[type="submit"] {
  padding: 4px 40px;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 1px #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  border: 1px solid #0002
  background: #fff;
  cursor: pointer;
}


.section-form-fields2 input[type="submit"] {
  padding: 4px 40px;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 1px #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  border: 1px solid #0002
  background: #fff;
  cursor: pointer;
}

.section-form-fields input[type="submit"]:hover {
  opacity: 0.6;
}

.section-picture .preview {
  float: left;
  width: calc(100% - 330px);
}

.section-picture .preview .main {
  width: 100%;
}

.section-picture .preview .main img {
  width: 100%;
}

.section-picture .thumbs img {
  display: block;
  float: left;
  margin-top: 1.2%;
  width: 23.5%;
  width: 23.5%;
  cursor: pointer;
}

.section-picture .thumbs img:hover {
  opacity: 0.8;
}

.section-picture .thumbs img:nth-child(1) { float: left; margin-right: 2%; }
.section-picture .thumbs img:nth-child(2) { float: left; margin-right: 2%; }
.section-picture .thumbs img:nth-child(3) { float: left; margin-right: 2%; }

.section-picture .thumbs img:last-child { float: right; margin-right: 0; }

.section-picture .info {
  float: right;
  max-width: 300px;
}

.section-picture .links {
  margin: 30px 0 5px 0;
}

.section-picture .links a {
  margin: 0 15px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.section-picture .info .text {
  line-height: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #333;
}

.section-picture .info .price {
  margin-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
}

.section-picture .info .buttons {
  margin-top: 5px;
}

.section-picture .info .buttons a {
  display: inline-block;
  box-sizing: border-box;
  margin: 15px 10px 10px 0;
  padding: 5px 15px;
  border: 1px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.section-picture .info .buttons a:first-child {
  float: left;
}

.section-picture .info .buttons a:last-child {
  float: right;
}

.section-picture .info .buttons a:hover {
  opacity: 0.6;
  text-decoration: none !important;
}

.section-picture .info .params .title {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.section-picture .info .params .title:hover {
  opacity: 0.7;
}

.section-picture .info .params .title .icon {
    display: inline-block;
    width: 14px;
    font-size: 14px;
    margin: 0 8px 0 0;
}

.section-picture .info .params .content {
  display: none;
  margin: 15px 0 0 25px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.section-pages {
  margin: 50px 0;
}

.section-pages a {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  text-decoration: none;
  font: bold 13px Arial;
  color: #333;
  text-align: center;
}

.section-pages a:hover {
  opacity: 0.6;
  text-decoration: none !important;
}

.section-pages a.first, .section-pages a.next {
  border: 1px solid #333;
}

.section-pages span {
  display: inline-block;
  font: normal 10px Times;
}

.section-payments {
  float: left;
  margin: 20px 0 10px 0;
}

.section-payments img {
  margin: 0 0 0 8px;
  outline: 1px solid #c0c0c0;
}

.section-sponsors {
  float: right;
  margin: 17px 0 10px 0;
}

.section-sponsors img {
  margin: 0 0 0 60px;
}

.section-common ul {
  box-sizing: border-box;
  float: left;
  width: 25%;
}

.section-common ul li {
  list-style: none;
  margin: 5px 0;
  text-align: left;
}

.section-common img {
  float: left;
  margin: 0 5px 0 0;
}

.section-common a {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-common a:hover {
  text-decoration: underline;
}
