{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Knowledge Base</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static "k_base/css/reset.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "k_base/css/main.css" %}" />
        <link type="text/css" href="{% static "k_base/css/sections.css" %}" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <style type="text/css">
            @font-face {
                font-family: HelveticaNeue;
                src: url('{% static "k_base/fonts/HelveticaNeue.ttf" %}');
            }
        </style>
        {% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body class="{% block body_class %}default{% endblock %}">
        {# Main content goes in this 'layout' block #}
        {% block layout %}
            <div id="page-wrapper">

                <div id="header">

                    <header>
                        <a class="logo-link" href="/"><img id="logo" height="100px" width="65px" alt="" src="{% static "k_base/img/logo.jpg" %}" /></a>

                        <div class="frontier">


                            <form method="post" action="{% url 'kbase:search' %}">
                                <!--{{ search_form.q }}-->
                                {% csrf_token %}
                                <input type="text" class="search" name="search_string" placeholder="Search..." />
                            </form>

                            {% if user.is_authenticated %}
                                <a class="link" id="logout_link" href="" style="background-image: url({% static "k_base/img/icon-account.png" %});">{% trans "Logout" %}</a>
                            {% else %}
                                <a class="link" id="login_link" href="" style="background-image: url({% static "k_base/img/icon-account.png" %});">{% trans "Login" %}</a>
                            {% endif %}


                            <div class="clear-right"></div>

                        </div>
                    </header>
                </div>

                {% block content_wrapper %}
                    {% block content %}{% endblock %}
                {% endblock %}

                <hr/>
                <div id="footer">

                    <div class="section-common">
                        <ul>
                            <li><a href="">Support Contacts</a></li>
                            <li><a href="">Support Contacts</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Support Contacts</a></li>
                            <li><a href="">Support Contacts</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Support Contacts</a></li>
                            <li><a href="">Support Contacts</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Support Contacts</a></li>
                            <li><a href="">Support Contacts</a></li>
                        </ul>
                        <br class="clear" />
                    </div>

                    <hr />

                    <p class="copyrights">© All Rights Reserved.</p>
                </div>

            </div>

        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

    </body>
</html>
