{% extends "base.html" %}
{% load versions_tags %}


{% block content_wrapper %}
<div class="section-content-wide">

    <aside class="sidebar">
        <div class="section-sidebar-lists">
            {% block column_left %}
            <ul>
                {% for product in product_list_for_sidebar %}
                    <li>
                        <a href="{{ product.get_absolute_url }}" class="product_title">{{product.title}}</a>
                        {% version_tree product=product as tree_versions %}
                        {% if tree_versions %}
                            <ul>
                                {% for tree_version, info in tree_versions %}
                                <li>
                                    <a href="{{ tree_version.get_absolute_url }}">{{ tree_version.code }}</a>

                                    {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                                    {% for n in info.num_to_close %}
                                    </ul></li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </aside>

    <div class="section-content">

        <div class="section-title">
            {% block headertext %}{% endblock %}
        </div>

        {% block content %}{% endblock %}
    </div>
    <div class="clear"></div>

</div><!-- /container-fluid -->
{% endblock %}
