{% extends "layout_2_col.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ article_info.title }} | {{ block.super }}
{% endblock %}

{% block headertext %}
    {{ article_info.title }}
{% endblock %}

{% block content %}

<div class="section-short-description">
    <div class="dates">
        <b>Added:</b> {{article_info.created|date:"d.m.Y"}}, <b>Updated:</b> {{article_info.updated|date:"d.m.Y"}}
    </div>
    <b>Product:</b> {{ article_info.product }}  <b>Version:</b> {{ article_info.prod_version.code }}
    <hr/>
    <div class="info">
        <p>{{article_info.material|safe}}</p>
    </div>
</div>

{% endblock content %}


