{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    {{version_info }}
{% endblock %}

{% block headertext %}
    {{version_info }}
{% endblock %}



{% block content %}

    <div class="section-short-description">
        <div class="title">
          Release date: {{version_info.release_date|date:"d F Y"}}
        </div>
        <hr/>
        <div class="info">
            <p>{{version_info.short_version_description|safe }}</p>
        </div>
    </div>

    {% if object_list %}
        <section>

            <div class="section-tale">

                <div class="grid">

                    {% for article in object_list %}
                     <article>
                        <div class="cell">
                            <div class="inner">
                                <div class="caption">
                                    <a href="{% url 'kbase:article_detail' article.slug %}">
                                        {{article.title}}
                                    </a>
                                </div>
                                <div class="dates">
                                    <b>Added:</b> {{article.created|date:"d F Y"}} <br/> <b>Updated:</b> {{article.updated|date:"d F Y"}}
                                </div>
                                <hr/>
                                <div class="descr">
                                    {{article.material_excerpt|safe}}

                                </div>
                                <hr/>
                                Версия: {{ article.prod_version.code }}
                            </div>
                          </div>
                    </article>
                    {% endfor %}

                    <div class="clear"></div>

                </div>

            </div>

            {% include "partials/pagination.html" %}

        </section>
    {% else %}
        <div class="section-artworks">{% trans "No articles found." %}</div>
    {% endif %}

{% endblock content %}