{% extends "layout_2_col.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ product_info.title }} | {{ block.super }}
{% endblock %}

{% block headertext %}
    {{ product_info.title }}
{% endblock %}

{% block content %}

<div class="section-short-description">
    <div class="dates">
        <b>MInor releases count:</b> {{minor_releases|length}}
        <br/>
        <br/>
        {% for rel in minor_releases %}
            {{ rel.code }};
        {% endfor %}
    </div>

    <hr/>
    <div class="info">
        <p>{{product_info.description|safe}}</p>
    </div>
</div>

{% endblock content %}


