{% extends "layout_2_col.html" %}

{% load i18n %}

{% block title %}
    Search results
{% endblock %}

{% block headertext %}
    Search results
{% endblock %}



{% block content %}

    Search string: {{ search_string }}
    {% if article_list %}
        <section>

            {% for article in article_list %}
                <div class="section-short-description">
                    <div class="title">
                      {{article.title}}
                    </div>
                    <div class="info">
                        <p><b>Продукт:</b> {{ article.product }}  <b>Версия: </b> {{ article.prod_version.code }}</p>
                        <b>Added:</b> {{article.created|date:"d F Y"}} <br/> <b>Updated:</b> {{article.updated|date:"d F Y"}}
                        <a href="{% url 'kbase:article_detail' article.slug %}">Read...</a>
                    </div>
                </div>
                <nr/>
            {% endfor %}

            {% include "partials/pagination.html" %}

        </section>
    {% else %}
        <div class="section-short-description">{% trans "No results found." %}</div>
    {% endif %}

{% endblock content %}